html {
  scroll-behavior: smooth;
}

#main {
    background: white;
    min-height: 90vh;
}

a {
    color: cyan;
}

.delay-025s {
    animation-delay: .25s;
}
.delay-05s {
    animation-delay: .5s;
}
.delay-075s {
    animation-delay: .75s;
}
.delay-1s {
    animation-delay: 1s;
}

@font-face {
  font-family: 'poiret_oneregular';
  src: url('/fonts/poiretone-regular-webfont.woff2') format('woff2'),
       url('/fonts/poiretone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
